<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Shop</h1>

    <p>Comment: {{name}} </p>

    <p>Rating: {{rating}} </p>

    <p><a href="http://localhost:777/">Back To Home Page</a></p>
</body>
</html>